body{
    background: #304355;
    padding: 20px;
  }

  .row{
    display: flex;
  }

  .column {
    flex: 20%;
    max-width: 15%;
    margin:30 auto;
    transition: 0.4s;
  }

  .column:active  {
    transform:scale(1.1,1.1);
    transition: 0.4s;
  }

  .zmLogo{
    padding: 0;
    display: block;
    margin: 20 auto;
    max-width: 60%;
  }

  #snapchat{
    background: #f3de1d;
    padding: 10px;
    border-radius: 20px;
  }
  #instagram{
    background: #be0270;
    padding: 10px;
    border-radius: 20px;
  }

  #twitter{
    padding: 10px;
    background: #048ec5;
    border-radius: 20px;
  }
  
  #email{
    background: #9c9c9c;
    padding: 10px;
    border-radius: 20px;
  }

  .welcome{
    color: #6cecfd;
    margin: auto;
  }
