/*
* Desinger: Zana Masoud
* WebSite: zanamziry.github.io
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&family=Abel&family=Jura:wght@300&family=Open+Sans:wght@300&family=Orbitron&display=swap');
/*
    font-family: 'Abel', sans-serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
*/

:root {
    --primary: #dddddd;
    --column-color: #c4c4c4;
    --secondery: #3275a1;
    --secondery-text: #74c7ff;
    --nav-and-footer: rgb(37, 37, 37);
    --upper-footer: #d6d6d6;
    --text-color: #161616;
    --columns: 2;
    --content-height: 420px;
    --gutter-width: 12px;
    --gutter-half-width: 6px;
    --gutter-and-half-width: 18px;
    --double-edge-border-width: 24px;
    --edge-border-width: 12px;
    --edge-border-width-fallback: 12px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    }

body.lock {
    overflow: hidden;
}

body:not(.lock) {
    overflow: auto;
}

body {
    margin: 0;
    background-color: var(--primary);
    color: var(--text-color);
}

.btn {
    border-radius: 15px;
    box-shadow: 0 0 3px -0.5px #0f1535 !important;
}

.btn:hover {
    filter: contrast(1.12);
    transition: 250ms !important;
}

.btn:active {
    box-shadow: inset 0 0;
}
/*we need this so the header wouldnt go under the navigation menu*/
header{
    margin-bottom: 40px;
}

/*--------------------------------------------------------------
# IFrame
--------------------------------------------------------------*/

iframe#root {
    display: block;
    margin: auto;
    border: none;
    width: 100vw;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

@keyframes menu-open {
    0% {
        height: 0px;
    }
    100% {
        height: 32px;
    }
}

/*
@media only screen and (max-width: 1000px){
    .card{
        width: 400px;
        background-color: navy;
    }
}
*/

.navbar {
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: var(--nav-and-footer);
}

.navbar-brand {
    margin: auto;
    padding: 0;
}

.nav-item * {
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: 'Jura', sans-serif;
    background-color: var(--nav-and-footer);
}

.nav-item *:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.nav-item *:active {
    color: var(--secondery-text) !important;
}

.navbar-collapse {
    transition-duration: 700ms;
}

.navbar-collapse:not(.show) .navbar-nav {
    padding: 0 50px;
    display: flex;
}
.navbar-collapse.collapsing .navbar-nav {
    padding: 20px;
    height: 100vh;
    display: block;
}
.navbar-collapse.show .navbar-nav {
    padding: 20px;
    height: 100vh;
    display: block;
}

.navbar-collapse.collapsing .nav-item {
    padding: 20px 0px;
    width: 100%;
    text-align: left;
    border-bottom: 1px rgba(255, 255, 255, 0.15) solid !important;
}
.navbar-collapse.show .nav-item {
    padding: 20px 0px;
    width: 100%;
    text-align: left;
    border-bottom: 1px rgba(255, 255, 255, 0.15) solid !important;
}

.navbar-collapse.collapsing .dropdown-toggle {
    padding: 0px 0px;
    text-align: left;
}
.navbar-collapse.show .dropdown-toggle {
    padding: 0px 0px;
    text-align: left;
}
.navbar-collapse:not(.show) .dropdown-toggle {
    padding: 0px;
}
.nav-item .dropdown.show .dropdown-toggle {
    color: var(--secondery-text) !important;
}
.nav-item .dropdown .dropdown-toggle {
    width: 100%;
    display: block;
    border-radius: 0px;
    box-shadow: none !important;
    border: none;
    background-color: var(--nav-and-footer) !important;
    filter: contrast(1) !important;
}

/* TODO: CHANGE ARROW AFTER THE DROPDOWN IS OPENED
.dropdown.show {
}
*/

.nav-item .dropdown .dropdown-menu {
    z-index: 10;
    filter: contrast(1.1) !important;
    padding: 10px 0px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px 1px var(--text-color);
    border-radius: 10px;
    border: none;
}

.nav-item .dropdown .dropdown-item {
    text-align: center;
}

.nav-item .dropdown .dropdown-item:hover {
    background: var(--nav-and-footer);
}

.nav-item .dropdown .dropdown-item:active {
    background: var(--nav-and-footer) !important;
}

.nav-item .dropdown .dropdown-divider {
    border: 1px solid rgba(255, 255, 255, 0.15);
    filter: contrast(0.5);
    width: 90%;
    margin: 5px auto;
}

/*This section is related to the navigation button*/

.navbar-toggler {
    height: 48px;
    width: 48px;
    border: none;
    position: absolute;
    top: 0;
    left: 10px;
}

/*to prevent the X from disappearing*/

.navbar-toggler:not(.collapsed) {
    display: block;
}

/*this is for the lines of nav-button*/

.navbar-toggler span {
    display: block;
    width: 17px;
    height: 1px;
    margin: auto;
    border-radius: 0.5px;
    z-index: 9;
    background: var(--primary);
}

.navbar-toggler span:nth-child(1) {
    animation: navbar-toggler-one-rev 400ms normal forwards;
}

.navbar-toggler span:nth-child(2) {
    animation: navbar-toggler-two-rev 400ms normal forwards;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    animation: navbar-toggler-one 400ms normal forwards;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    animation: navbar-toggler-two 400ms normal forwards;
}

/* i had to use 4 different keyframes instead of just reversing the fisrt 2 otherwise the animation wouldnt play */

@keyframes navbar-toggler-one {
    0% {
        transform: translate(0, 4px) rotate(0deg);
    }
    50% {
        transform: translate(0, 1px) rotate(0deg);
    }
    100% {
        transform: translate(0, 1px) rotate(45deg);
    }
}

@keyframes navbar-toggler-two {
    0% {
        transform: translate(0, -4px) rotate(0deg);
    }
    50% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(-45deg);
    }
}

@keyframes navbar-toggler-one-rev {
    0% {
        transform: translate(0, 1px) rotate(45deg);
    }
    50% {
        transform: translate(0, 1px) rotate(0deg);
    }
    100% {
        transform: translate(0, 4px) rotate(0deg);
    }
}

@keyframes navbar-toggler-two-rev {
    0% {
        transform: translate(0, 0) rotate(-45deg);
    }
    50% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, -4px) rotate(0deg);
    }
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/

@media only screen and (max-width: 700px){
    :root{
        --columns:1;
    }
}
@media only screen and (min-width: 700px){
    :root{
        --columns:2;
    }
}

.project {
    padding: 0 10px;
    display: grid;
    background-color: var(--primary);
    grid-gap: var(--gutter-width);
    grid-template-columns: repeat(var(--columns), 1fr);
    width: calc(100% - var(--double-edge-border-width) - var(--safe-area-inset-lt) - var(--safe-area-inset-rt));
    left: calc(var(--edge-border-width) + var(--safe-area-inset-lt));
    border-bottom: var(--gutter-width) solid var(--primary);
}

.project-item {
    background-color: var(--column-color);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: var(--content-height);
    width: auto;
}

.project-header {
    position: relative;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.project-header .headline {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: var(--text-color)
}
.project-header .subhead {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--text-color)
}

.project-header .link::before {
    content: 'Learn more';
    position: relative;
    bottom: 2px;
}
.project-header .link:hover{
    text-decoration: none;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
    padding: 30px 0;
    overflow: hidden;
    font-family: 'Jura', sans-serif;
    font-size: large;
}

.section-title {
    font-display: swap;
}

.section-title h2 {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    margin: 15px 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondery);
}

.section-title p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    display: block;
    color: var(--secondery);
}

#header * h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    background-image: -webkit-linear-gradient(left, var(--secondery), var(--secondery), var(--text-color));
    /* For Chrome and Safari */
    background-image: linear-gradient(to right, var(--secondery), var(--secondery), var(--text-color));
    /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#header>div {
    margin: auto;
    padding-top: 1%;
}

#header * p {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: var(--text-color);
    background-clip: text;
    /*text-shadow: 0 0 4px #ffffff;*/
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    display: none;
    z-index: 11;
    background: var(--primary);
    overflow: hidden;
}

#preloader:not(.hide) {
    display: block;
}

#preloader:not(.hide)::after {
    content: "";
    position: fixed;
    top: 50%;
    right: 50%;
    border: 5px solid var(--secondery);
    border-radius: 50px;
    border-bottom-color: var(--nav-and-footerb);
    width: 75px;
    height: 75px;
    animation: animate-preloader 1s normal infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/*--------------------------------------------------------------
# contacts
--------------------------------------------------------------*/

.contacts {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

.contacts .info {
    padding:15px 0;
}

.contacts .section-title {
    padding-bottom: 0;
}
.contacts h2 {
    margin:0;
}
.contacts p {
    margin:0;
}
.contacts .social-links a {
    font-size: 24px;
    text-align: center;
    display: inline-block;
    background: var(--nav-and-footer);
    color: var(--upper-footer);
    border-radius: 50%;
    text-align: center;
    margin-right: 4px;
    transition: 0.3s;
}
.contacts .icon{
    margin: 15px;
}
.contacts .social-links a:active {
    background: var(--secondery);
    color: var(--upper-footer);
    text-decoration: none;
}

/*--------------------------------------------------------------
# CopyRight
--------------------------------------------------------------*/
.copyright{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: var(--nav-and-footer);
    color: var(--primary);
    text-align: center;
    padding: 15px 0;
    font-family: 'Abel', sans-serif;
}

.copyright span {
    color: var(--secondery-text);
}