@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jura:wght@300&family=Libre+Barcode+39+Text&family=Open+Sans:wght@300&family=Orbitron&display=swap');
/*
    font-family: 'Abel', sans-serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

:root {
    --primary: #dddddd;
    --secondery: #3275a1;
    --secondery-text: #74c7ff;
    --nav-and-footer: rgb(37, 37, 37);
    --upper-footer: #d6d6d6;
    --text-color: #161616;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body.lock{
    overflow: hidden;
}

body:not(.lock){
    overflow: auto;
}

body {
    background-color: var(--primary);
    color: var(--text-color);
}

.btn {
    border-radius: 15px;
    box-shadow: 0 0 3px -0.5px #0f1535 !important;
}

.btn:hover {
    filter: contrast(1.12);
    transition: 250ms !important;
}

.btn:active {
    box-shadow: inset 0 0;
}

/*--------------------------------------------------------------
# Head
--------------------------------------------------------------*/

#header a.btn {
    font-size: 14px;
    border-radius: 0px;
    display: block;
    font-weight: lighter;
    padding: 5px 40px;
    width: max-content;
    margin: auto;
    border: var(--secondery) 1px solid;
    color: var(--text-color);
    box-shadow: 0px 0px 3px var(--secondery) !important;
    background-color: transparent;
    transition-duration: 300ms;
}

#hoheaderme .btn:active {
    border: transparent 1px solid;
    color: var(--primary);
    box-shadow: none !important;
    background-color: var(--secondery);
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

@keyframes menu-open {
    0%{
        height: 0px;
    }
    100%{
        height: 32px;
    }
}

.navbar {
    background-color: var(--nav-and-footer);
}

.navbar-brand {
    margin: auto;
    padding: 0;
}

.nav-item *{
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: 'Jura', sans-serif;
    background-color: var(--nav-and-footer);
}
.nav-item *:hover{
    color: rgba(255, 255, 255, 1) !important;
}
.nav-item *:active{
    color: var(--secondery-text) !important;
}
.navbar-collapse.collapsing .navbar-nav{
    padding: 30px 0;
    height: 100vh;
    display: block;
}
.navbar-collapse.show .navbar-nav{
    padding: 30px 0;
    height: 100vh;
    display: block;
}

.navbar-collapse:not(.show) .navbar-nav {
    padding: 0 !important;
}
.navbar-collapse.collapsing .navbar-nav{
    padding: 20px !important;
}
.navbar-collapse.show .navbar-nav {
    padding: 20px !important;
}

.navbar-collapse:not(.show) .nav-link {
    padding: 0px 50px;
}
.navbar-collapse.collapsing .nav-link {
    padding: 20px 0px;
    width: 100%;
    text-align: left;
    border-bottom: 1px rgba(255, 255,255,0.15) solid !important;
}
.navbar-collapse.show .nav-link{
    padding: 20px 0px;
    width: 100%;
    text-align: left;
    border-bottom: 1px rgba(255, 255,255,0.15) solid !important;
}

.navbar-collapse.collapsing .dropdown-toggle {
    padding: 0px 0px;
    text-align: left;
}
.navbar-collapse.show .dropdown-toggle {
    padding: 0px 0px;
    text-align: left;
}
.nav-link .dropdown.show .dropdown-toggle{
    color: var(--secondery-text) !important;
}
.nav-link .dropdown-toggle {
    width: 100%;
    display: block;
    border-radius: 0px;
    box-shadow: none !important;
    border: solid 0px;
    background-color: var(--nav-and-footer) !important;
    filter: contrast(1) !important;
}

.nav-link .dropdown-menu{
    filter: contrast(1) !important;
    padding: 15px 0;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 1px var(--text-color) !important;
    border-radius: 10px;
    border: none;
    height: fit-content;
}
.nav-link .dropdown-item{
    text-align: center;
}
.nav-link .dropdown-item:hover {
    background: var(--nav-and-footer);
}

.nav-link .dropdown-item:active {
    background: var(--nav-and-footer) !important;
}
.nav-link .dropdown-divider{
    border: 1px solid rgba(255, 255,255,0.15);
    filter: contrast(0.5);
    width: 100%;
    margin: 5px 0;
}

/*This section is related to the navigation button*/
.navbar-toggler {
    height: 48px;
    width: 48px;
    border: none;
    position: absolute;
    top: 0;
    left: 10px;
}
/*to prevent the X from disappearing*/
.navbar-toggler:not(.collapsed){
    display: block;
}
/*this is for the lines of nav-button*/
.navbar-toggler span {
    display: block;
    width: 17px;
    height: 1px;
    margin: auto;
    border-radius: 0.5px;
    z-index: 1;
    background: var(--primary);
}

.navbar-toggler span:nth-child(1) {
    animation: navbar-toggler-one-rev 400ms normal forwards;
}
.navbar-toggler span:nth-child(2) {
    animation: navbar-toggler-two-rev 400ms normal forwards;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    animation: navbar-toggler-one 400ms normal forwards;
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    animation: navbar-toggler-two 400ms normal forwards;
}

/* i had to use 4 different keyframes instead of just reversing the fisrt 2 otherwise the animation wouldnt play */
@keyframes navbar-toggler-one {
    0% {
        transform: translate(0, 4px) rotate(0deg);
    }
    50% {
        transform: translate(0, 1px) rotate(0deg);
    }
    100% {
        transform: translate(0, 1px) rotate(45deg);
    }
}
@keyframes navbar-toggler-two {
    0% {
        transform: translate(0, -4px) rotate(0deg);
    }
    50% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(-45deg);
    }
}
@keyframes navbar-toggler-one-rev {
    0% {
        transform: translate(0, 1px) rotate(45deg);
    }
    50% {
        transform: translate(0, 1px) rotate(0deg);
    }
    100% {
        transform: translate(0, 4px) rotate(0deg);
    }
}
@keyframes navbar-toggler-two-rev {
    0% {
        transform: translate(0, 0) rotate(-45deg);
    }
    50% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(0, -4px) rotate(0deg);
    }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
    padding: 40px 20px !important;
    overflow: hidden;
    font-family: 'Jura', sans-serif;
    font-size: large;
}

.section-bg {
    background-color: var(--secondery);
}

.section-title {
    padding: 0 10px 5px 10px;
    font-display: swap;
}

.section-title h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    line-height: 1px;
    margin: 0 0 10px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondery);
}

.section-title h2 {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    margin: 15px 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondery);
}

.section-title p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    display: block;
    color: var(--secondery);
}

#header * h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    background-image: -webkit-linear-gradient(left, var(--secondery), var(--secondery), var(--text-color));
    /* For Chrome and Safari */
    background-image: linear-gradient(to right, var(--secondery), var(--secondery), var(--text-color));
    /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#header>div {
    margin: auto;
    padding-top: 1%;
}

#header * p {
    font-family: 'Orbitron', cursive;
    font-size: 18px;
    color: var(--text-color);
    background-clip: text;
    /*text-shadow: 0 0 4px #ffffff;*/
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    display: none;
    z-index: 9999;
    background: var(--primary);
    overflow: hidden;
}

#preloader:not(.hide) {
    display: block;
}

#preloader:not(.hide)::after {
    content: "";
    position: fixed;
    top: 50%;
    right: 50%;
    border: 5px solid var(--secondery);
    border-radius: 50px;
    border-bottom-color: var(--nav-and-footerb);
    width: 75px;
    height: 75px;
    animation: animate-preloader 1s normal infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
}

.back-to-top .fa-chevron-circle-up {
    color: var(--secondery);
    width: 35px;
    height: 35px;
    transition: all 0.3s;
}

.back-to-top .fa-chevron-circle-up:hover {
    width: 45px;
    height: 45px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    background: var(--nav-and-footer);
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

footer .footer-top {
    background: var(--upper-footer);
    color: var(--text-color);
    border-top: 1px solid var(--secondery);
    border-bottom: 1px solid var(--secondery);
    padding: 20px 0 0 0;
}

footer .footer-top .footer-info {
    color: var(--secondery);
    margin-bottom: 30px;
}

footer .footer-top h4 {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    text-transform: uppercase;
    color: var(--secondery);
}

footer .footer-top p {
    font-size: 16px;
    margin-bottom: 0;
    color: var(--text-color);
}

footer .footer-top .social-links a {
    font-size: 24px;
    text-align: center;
    display: inline-block;
    background: var(--nav-and-footer);
    color: var(--upper-footer);
    padding: 8px 16px;
    border-radius: 50%;
    text-align: center;
    margin-right: 4px;
    transition: 0.3s;
}

footer .footer-top .social-links a:active {
    background: var(--secondery);
    color: var(--upper-footer);
    text-decoration: none;
}

footer .footer-top .footer-links {
    margin-bottom: 30px;
}

footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--primary);
    font-size: 18px;
    line-height: 1;
}

footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

footer .footer-top .footer-links ul li:primary-child {
    padding-top: 0;
}

footer .footer-top .footer-links ul a {
    color: var(--text-color);
    font-size: medium;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

footer .footer-top .footer-links ul a:active {
    color: var(--secondery);
}

footer .footer-links .fa-chevron-right {
    margin-right: 5px;
    color: var(--secondery);
}

footer .copyright {
    text-align: center;
    color: var(--primary);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Abel', sans-serif;
}

footer .copyright span {
    color: var(--secondery);
}